body {
	font-family: "roboto";
	font-weight: 300;
	font-size: 16px;
	color: #555;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}
#porftfolio-container {
	background-color: #f2f2f2;
}
/* Titles */
h1, h2, h3 {
    font-family: 'pt-serif', helvetica, arial;
    font-weight: 300;
    color: #333;
}
/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
}
.centered {
    text-align: center;
}
.top-spacer {
	margin-top: 30px;
}
/* Links */
a {
    color: #428BCA;
    word-wrap: break-word;
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}
a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}
 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
.modal-header {
	background-color: #428BCA;
	color: white;
}
.modal-title {
	color: white
}
.border {
	border-bottom:1px solid #fff;
	width:48px;
	margin:0 auto;
}
.black-border {
	border-bottom:1px solid #000;
	width:48px;
	margin:0 auto;	
}
.spacer {
	margin-bottom: 20px;
}
.spacer2x {
	margin-bottom: 40px;
}
/* ====================
   Wrap Sections
   ==================== */
h4, h5, h6 {
	font-family:'roboto','lato','helvetica',arial;
}
#logo {
	margin-top:5px;
}
#headerwrap {
	background: url(../img/profile.jpg) no-repeat center top;
	margin-top: -10px;
	padding-top:120px;
	text-align:center;
	background-attachment: relative;
	background-position: center top;
	min-height: 810px;
	width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#headerwrap a:hover,
a:focus {
    color: #428BCA;
    opacity:.8;
    text-decoration: none;
    outline: 0;
}
.col-centered {
	float:none;
	margin:0 auto;
}
#headerwrap h1 {
	font-weight: 300;
	font-size: 3em;
	color:#fff;
	padding-top:25px;
}
.col-lg-8 h2 {
	font-family:'roboto','helvetica',arial;
	color:#E3E3E3;
	font-size:1.2em;
	line-height:28px;
	padding:0 10x 0;
 }
.learn {
 	color:#E3E3E3;
 	margin:55px auto 0;
 	border:1px solid #E3E3E3;
 	-moz-border-radius:3px;
 	-webkit-border-radius:3px;
 	border-radius:3px;
 	width:140px;
 	padding:10px;
 	display:block;
}
.learn:hover {
	opacity:.7;
	background: #fff;
	color: #ccc;
}
.progress-bar {
	text-align:left;
	padding-left:8px;
	font-family:'roboto-reg','lato',arial;
}
#chartwrap {
	padding:50px 0 40px;
}
#social {
	background: url(../img/grn-bg.png) center top;
	margin-top: 80px;
	padding-top:80px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 285px;
	width: 100%;
}
#footerwrap {
	background: #313c53;
	background-position: top left;
	background-size: cover;
	color: white;
	padding-top: 40px;
	padding-bottom: 60px;
	text-align: left;
}
#footerwrap h3 {
	font-size: 28px;
	color: white;
}
#footerwrap p {
	color: white;
	font-size: 18px;
}
.about {
	padding-top: 40px;
	text-align: center
}
.about h3 {
	font-size: 35px;
}
.about h4 {
	font-size: 20px;
	text-align: left;
}
.about h5 {
	font-size: 14px;
	color: #bebdbd;
	font-weight: 700;
}
.about p {
	padding-top:25px;
}
.label {
	padding-bottom: 15px;
}
.centered {
	text-align: center;
}
/* ===================
   	  Portfolio
   ================== */
#foliowrap {
	background: url(../img/middle.jpg) no-repeat center bottom;
	margin-top: 30px;
	padding-top:50px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

img {
	max-width: 100%;
}


#foliowrap h3 {
	font-size: 35px;
	color: white;
	text-align: center;
}

.top-folio {
	padding:30px 0 0;
}
.top-folio .col-sm-6 {
	min-height: 350px;
}
@media screen and (max-width: 1199px) {
	.top-folio .col-sm-6 {
		min-height: 290px;
	}
}
@media screen and (max-width: 991px) {
	.top-folio .col-sm-6 {
		min-height: 225px;
	}
}
@media screen and (max-width: 767px) {
	.oneMainDash {
		margin-bottom: 20px;
	}
}
.grid figure {
	margin: 0;
	position: relative;
}
.grid figure img {
	width: 100%;
	display: block;
	position: relative;
}
.grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	color: #fff;
	background: #428BCA;
}
.grid figcaption h5 {
	margin: 0;
	padding-top: 0px;
	padding-left: 20px;
	padding-bottom: 5px;
	color: #fff;
	text-align: left;
}
/** take a look button **/ 
.grid figcaption a {
	text-align: left;
	padding: 5px 10px;
	margin-left: 20px;
	display: inline-block;
	background: #26333D;
	color: #fff;
	font-size: 13px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #0C1923;
  border-color: #285e8e;
}
/* Caption Style */
.mask figure {
	overflow: hidden;
}
.mask figure img {
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}
.no-touch .mask figure:hover img,
.mask figure.cs-hover img {
	-webkit-transform: translateY(-30px);
	-moz-transform: translateY(-30px);
	-ms-transform: translateY(-30px);
	transform: translateY(-30px);
}
.mask figcaption {
	height: 50px;
	width: 100%;
	top: auto;
	bottom: 0;
	opacity: 0;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}
.no-touch .mask figure:hover figcaption,
.mask figure.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}
.mask figcaption a {
	position: absolute;
	top:10px;
	bottom: 10px;
	right: 30px;
}
/* ===================
   	Specialties
   =================== */
.red-border {
	border:1px solid #ea6b6b;
	width:48px;
	margin:0 auto;
}
.grn-border {
	border:1px solid #46D6A1;
	width:48px;
	margin:0 auto
}
.blue-border {
	border:1px solid #3498db;
	width:48px;
	margin:0 auto	
}
.carousel-inner h1 {
	font-style:italic;
}
/* ===================
   	    Social
   =================== */
#social .social-icons {
	padding-top:41px;
}
#social h3 {
	margin-top:-20px;
	color:#fff;
	font-size:35px;
}
#social .col-md-1, .col-md-2 {
	padding-top:45px;
}
.twitter, .facebook, .linkedin, .pinterest, .gplus {
	border: 2px solid #ECECEC;
    border-radius: 50%;
    margin: auto auto 20px;
    transition: all 0.2s ease-in-out 0s;
    height:65px;
    width:65px;
    padding-top:13px;
}
.twitter:hover, .facebook:hover, .linkedin:hover, .pinterest:hover, .gplus:hover  {
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.twitter:hover {
	border: 3px solid #428BCA;
}
.facebook:hover {
	border: 3px solid #428BCA;
}
.linkedin:hover {
	border: 3px solid #428BCA;
}
.pinterest:hover {
	border: 3px solid #428BCA;
}
.gplus:hover {
	border: 3px solid #428BCA;
}
/* ======================
   		Footer
   ====================== */
#footerwrap .form-side {
	padding-top:5px;
}
.wufoo .info, .wufoo .paging-context {
	display: none;
}
.info h2 {
	color: #fff;
}
.map {
	padding-top:54px;
}
.map img {
	padding-top:25px;
}
.map a:hover {
	opacity:.7;
}
#footerwrap h3 {
	text-align:center;
}
.form-control {
	font-family: 'roboto', sans-serif;
	font-size: 16px;
}
.btn-theme {
	color: #fff;
	background-color: #428BCA;
	font-weight: 700;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius: 3px;
	border:none;
}
.btn-theme:hover {
	cursor: pointer;
	color: white;
	background-color: #306694;
}
/** FORM **/
.wufoo label.desc, .wufoo legend.desc {
	color: #fff;
	font-weight: 500;
	font-size: 15px;
}
#container, html.embed {
	background: none;
}
.wufoo input.text, .wufoo textarea.textarea, .wufoo input.file, .wufoo select.select, input.btTxt {
	padding: 6px;
	border-radius: 3px;
}
input.btTxt {
	background: #428BCA;
	color: #fff;
	border-radius: 3px;
	border: none;
}