
/* Reset*/
body, ul, li, h1, h2, h3 ,h4 ,h5, p {
	list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
}
*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.center-block {
  margin: 0 auto;
  display: inline-block;
}
/* Titles */
h1, h2, h3 {
  font-family: 'Tahoma', helvetica, arial;
}
h2 {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 15px;
  padding-top: 45px;
  text-transform: uppercase;
}
span.small {
  font-size: 12px;
  color: #888;
}
.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
a:hover {
  cursor: pointer;
}
p.process {
  font-size: 18px;
  line-height: 28px;
}
.bold-inline-dark {
  color: #fefefe;
  font-weight: bold;
}
/* TOP */ 
#top {
	padding-top: 115px;
	min-height: 450px;
}
.me {
	width: 75%;
}
#top h1 {
	font-size: 47px;
	font-weight: bold;
	line-height: 59px;
}
#top p {
	font-size: 23px;
	color: #848484;
	font-weight: 300;
  font-family: 'roboto';
  margin-bottom: 15px;
}
.bold-inline {
  font-weight: 700;
  color: #333;
}
.black-heading h2 {
  font-weight: 300;
  color: #333;
}
.m-bottom {
  margin-bottom: 25px;
}
.m-bottom2 {
  margin-bottom: 45px;
}
.m-bottom {
  margin-bottom: 75px;
}
.remove-m {
  margin-bottom: 0 !important;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border: none;
}
.navbar-inverse {
  background: none;
  border: none;
}
.icon-bar {
  border: 1px solid #333;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: #333;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
  box-shadow: 1px 1px 1px 1px #999;
  background: #fff;
}
/* NAV */
/* Menu Fade In */ 
.show {
  background:#fff;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
nav {
	padding: 15px 0;
  margin-bottom: 45px;
}
.navbar-fixed-top:hover {
  background: #fff;
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  -o-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
}
nav ul li a {
	text-transform: uppercase;
	color: #848484;
	size: 14px;
	float: left;
	padding-right: 20px;
	padding-top: 15px;
  -webkit-transition: color .3s ease-in-out;
  -moz-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}
nav li a:focus {
  text-decoration: none;
  outline: none !important;
  color: #848484;
}
nav ul li a:hover {
  color: #444;
  text-decoration: none;
}
.logo {
	width: 54px;
	height: 54px;
}
/* bouncing arrow */
.bounce {
  -moz-animation: bounce 4s;
  -webkit-animation: bounce 4s;
  animation: bounce 4s;
  animation-iteration-count: 3;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
.border-bottom {
  width: 40px;
  margin: 0 auto 45px;
}
.white-border {
  border-bottom: 1px solid #f0f0f0;
}
.black-border {
  border-bottom: 1px solid #333;
}
/* PROCESS */
#process {
  background: black;
  min-height: 725px;
  text-align: center;
}
#process h2 {
  color: #f0f0f0;
}
.left_arrows {
  margin-top: 40px;
}
.process_steps {
  margin-top: 15px;
  padding-left: 8%;
}
.numbers {
  border: 1px dashed #e3e3e3;
  background: #343434;
  border-radius: 50%;
  width: 140px;
  height: 140px;
  color: #f3f3f3;
  padding: 20px;
  font-size: 17px;
  margin: 0 auto 20px;
}
.numbers img {
  margin-top: 25px;
}
.right_arrow {
  display: block;
  width: 100%;
}
.last_three {
  padding-top: 60px;
}
#process h4 {
  text-transform: uppercase;
  color: #f7f7f7;
  font-size: 15px;
  padding: 20px 0 5px;
}
#process .step_subheading {
  color: #ccc;
  margin-bottom: 15px;
}
#process p, footer p {
  color: #999;
}
.paintbrush {
  width: 60px;
  height: 60px;
}
/* Mdal */
.modal-dialog {
  width: 80%;
  max-width: 1140px;
}
.btn-modal {
  color: #333;
  background: #ccc;
}
.modal-header {
  background: #333;
  color: #fff;
  padding: 20px;
}
.modal-dialog .close {
  font-size: 24px;
  color: #fefefe;
}.modal ul li {
  font-size: 14px;
  list-style: square;
  margin-left: 25px;
  color: #333;
}
.modal .col-sm-2 {
  margin-bottom: 15px;
}
.modal p, h5 {
  margin-bottom: 8px;
}
.modal-content {
  overflow-y: auto;
  max-height: calc(100vh - 100px);
}
.btn-modal {
  background: #333;
  color: #fff;
  width: 140px;
  color: #fff;
}
.btn:hover, .btn:focus {
  color: #fff;
}
/*-----------------------------------*/
/*            Porftolio              */
/*-----------------------------------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.folio {
  background: radial-gradient(#F8F8F8, #F9F9F9);
  text-align: center;
}
.short-mocks {
  background: radial-gradient(#F8F8F8, #F9F9F9);
  text-align: center;
  padding: 0 !important;
  min-height: 310px;
}
.folio img {
  -moz-transition: all 0.6s;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
.folio:hover img {
  -moz-transform: scale(1.008);
  -webkit-transform: scale(1.008);
  transform: scale(1.008);
  opacity: .9;
}
/* Onboarding Dash */
.dashboard {
  border: 1px solid #fff;
  padding-left: 0;
  padding-right: 0;
  vertical-align: baseline;
  border-radius: 4px 4px 0 0;
}
.dash-header {
  padding: 15px 20px;
  background: #fff;
  width: 100%;
}
.dash-header .cnvr_logo {
  vertical-align: middle;
  display: block;
}
.left_nav {
  border-right: 1px solid #bbb;
  border-top: 1px solid #bbb;
  margin-top: 45px;
  border-radius: 0 2px 0 0;
}
.nav_items {
  padding-left: 0;
}
.nav_item {
  background: #fff;
}
.nav_box {
  background: #ccc;
  width: 30px;
  height: 30px;
  margin: 10px 0 0 15px;
}
.nav_line {
  width: 90%;
  height: 8px;
  background: #ccc;
  margin: 24px 0 0;
}
.left_nav .nav_item {
  border-bottom: 1px solid #bbb;
  min-height: 55px;
}
.main .high_task {
  border-radius: 4px;
  width: 100%;
  height: 106px;
  margin: 45px 0 25px;
  padding: 20px;
}
.main .task_one {
  background: #fbfbfb;
  border-top: 4px solid #4A90E2;
}
.main .task_two, .task_three, .task_four {
  background: #ccc;
  opacity: .6;
}
.main .check {
  margin-left: 12px;
}
.task_item {
  border-bottom: 1px solid #fcfcfc;
}
#onboarding {
  background: #373737;
  padding-top: 145px;
  margin-bottom: 95px;
}
#onboarding h2 {
  color: #fefefe;
  font-size: 48px;
  vertical-align: text-bottom;
  margin-bottom: 45px;
}
/** Folio 2 **/ 
#media-tag {
  background: radial-gradient(#F8F8F8, #F9F9F9);
}
#media-tag h2 {
  padding-top: 145px;
}
.top-tag-img {
  box-shadow: 0px 0px 6px #ccc;
}
.springleaf-mocks {
  padding: 0;
}
/** Task line svg **/ 
.task_line {
  height: 4px;
  background: #ccc;
  margin-top: 25px;
}
/** Checkmark svg**/
.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #4A90E2;
  fill: none;
  animation: stroke 3s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}
.checkmark {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px #4A90E2;
}
.check1 {
  animation: fill .5s ease-in-out .5s forwards, scale .8s ease-in-out .8s both;
  animation-delay: .8s;
}
.check2 {
  animation: fill .5s ease-in-out .5s forwards, scale .8s ease-in-out .8s both; 
  animation-delay: 1.2s; 
}
.check3 {
  animation: fill .5s ease-in-out .5s forwards, scale .8s ease-in-out .8s both;
  animation-delay: 1.8s;    
}
.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.9s cubic-bezier(0.65, 0, 0.45, 1) 0.9s forwards;
}
@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #4A90E2;
  }
}
/* spaceship */
.spaceship:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
/* onboard main section */
.folio1 p, li  {
  color: #6a6a6a;
  font-size: 16px;
  line-height: 25px;
}
.folio1 p {
  margin-bottom: 25px;
}
.folio1 ul li {
  list-style-type: circle;
  margin-left: 15px;
}
.folio1 h3 {
  font-size: 20px;
  margin-bottom: 15px;
}
.onboard-dash, .reporting-app {
  margin: 0 auto;
  display: block;
  padding: 15px;
}
.task-list {
  max-width: 100%;
}
.pain-points {
  background: #FAFAFA;
  padding-top: 12px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 3px 7px -2px rgba(156,156,156,0.7);
  -moz-box-shadow: 0px 3px 7px -2px rgba(156,156,156,0.7);
  box-shadow: 0px 3px 7px -2px rgba(156,156,156,0.7); 
}
.pain-points ul {
  margin-top: 38px;
}
.pain-points ul li {
  font-size: 13px;
  line-height: 21px;
}
.flowchart {
  border: 1px dashed #ccc;
  border-radius: 4px;
  padding: 15px;
  margin-bottom: 45px;
  width: 100%;
}
.flow-heading {
  font-size: 13px !important;
  margin-bottom: 4px !important;
}
/* folio 2 */ 
.onboarding-dash {
  margin-left: -30px;
}
.brands {
  background: #f8f8f8;
  min-height: 55px;
  padding: 12px 0;
}
.brands-row p {
  margin-top: 4px;
}
.brands-row {
  padding: 20px;
}
/* Footer */
footer {
  background: #000;
  color: #fff;
}
footer .glyphicon, .fab {
  color: #f8f8f8;
  border: 1px solid #f8f8f8;
  border-radius: 60px; 
  padding: 12px;
  -webkit-transition: color.3s ease-in-out;
  -moz-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color.3s ease-in-out;
  -webkit-transition: border.3s ease-in-out;
  -moz-transition: border .3s ease-in-out;
  -o-transition: border .3s ease-in-out;
  transition: border.3s ease-in-out;
}
.fab {
  width: 52px;
  height: 52px;
}
footer .glyphicon {
  font-size: 25px;
}
.social {
  color: #f8f8f8;
  border: 1px solid #f8f8f8;
  border-radius: 50%; 
}
footer .glyphicon:hover, .fab:hover {
  border: 1px solid #CCC;

  padding: 12px;
  color: #ccc;
}
footer .copy {
  font-size: 11px;
  margin-bottom: 12px;
}

.fa {
  padding: 4px;
  width: 200px;
}
.fa::before {
  display: inline-block;
  /* .fa-fw */
  width: 1.28571429em;
  text-align: center;
}
.fa::after {
  content: attr(class);
  font-family: consolas, monospace;
  font-size: 15px;
  /* BS - code */
  padding: 2px 4px;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
  margin-left: 5px;
}
/*-----------------------------------*/
/*          MEDIA QUERIES            */
/*-----------------------------------*/
@media screen and (max-width: 1199px) { 
  .left_arrows {
    max-width: 70%;
  }
}
@media screen and (max-width: 991px) { 
  #process .col-sm-1 {
    display: none;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .me {
    padding-top: 105px;
    width: 100%;
  }
}
@media screen and (max-width: 767px) { 
  .left_arrows {
    display: none;
  }
  #process .col-sm-3 {
    margin-bottom: 25px;
  }
  .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    background: #333;
    margin-top: 15px;
  }
  .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #fff;
  }
  .onboard-svg {
   display: none; 
  }
  .brands-row span {
    text-align: center;
    display: block;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 767px) {
  .folio {
    min-height: 725px;
  }
}
